.header {
  background-color: lightseagreen;
  background-image: url(../../pattern.png);
  color: ivory;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-weight: bolder;
}
.title {
  font-size: 72px;
}
